{
  "env": {
    "production": {
      "plugins": ["external-helpers", "transform-es2015-spread"]
    },
    "test": {
      "presets": ["jest"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
